<div class="placement" style="margin-top: 72px;">
    <style>
	.poster .text-content{
	    color: #6a18bc;
	}
    </style>
    <h1>Admin</h1>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/m_users">Users management</a> 
	<p>List users, edit, ...</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/m_shops">Shops management</a> 
	<p>List shops, edit, check, product' shop, ...</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/m_orders">Orders management</a> 
	<p>List orders, status of order, ...</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/m_stat">Statistic</a> 
	<p>By day, week, month, ...</p>
    </div>
</div>

<div class="placement" style="display: block;margin-top: 10px">
    <h1>Most popular</h2>
    <div class="section-slider">
    <div class="slider">
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/300/300/?random">
	<p>LA la a</p>
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/301/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/302/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/303/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/304/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/305/300/?random">
	</div>
    </div>
   </div>
</div>
<div class="placement" style="display: block;margin-top: 10px">
    <h1>Collection</h2>
    <div class="section-slider"> 
    <div class="slider">
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/300/300/?random">
	<p>LA la a</p>
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/301/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/302/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/303/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/304/300/?random">
	</div>
	<div class="card">
        <img class="img-slider" src="https://picsum.photos/305/300/?random">
	</div>
    </div>
   </div>
</div>
