<div class="placement" style="margin-top: 72px;">
    <style>
	.poster .text-content{
	    color: #6a18bc;
	}
    </style>
    <h1>Top shops</h1>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/edit_shop">Shop: asdb</a> 
	<p>ID: 1243134</p>
	<p>Sales: 10000</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/edit_shop">Shop: dasd1</a> 
	<p>ID: 4564522</p>
	<p>Sales: 10000</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/edit_shop">Shop: ada45</a> 
	<p>ID: 132456</p>
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/edit_shop">Shop: dasdh</a> 
	<p>ID: 546878</p>
	<p>Sales: 10000</p>
    </div>

</div>
