<div class="placement" style="margin-top: 72px;">
    <style>
	.poster .text-content{
	    color: #6a18bc;
	}
    </style>
    <h1>Statistic</h1>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/m_stat_date"><i class="fas fa-calendar-day" style="margin-right: 5px"></i>By Time</a> 
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="/m_stat_shop"><i class="fas fa-store" style="margin-right: 5px"></i>By Shop</a> 
    </div>
    <div class="poster" style="margin: 10px">
	<a class="text-content" href="#"><i class="fas fa-plus" style="margin-right: 5px"></i>Add</a> 
    </div>

</div>


